
/*.nav-container {background-color:#333333; position:relative; height:55px;}*/

nav#menu  {min-width:300px; padding-right:0px;padding-left:0px; }
nav#menu .columns {padding:0px;}

/* ==============
    MOBILE: Menu
   ============== */

.fa-bars {background-color: #000; color:#f28b00; padding:4px 6px;}
.fa-bars:hover {color:#ffffff;}
a.toggle .fa-bars {padding-bottom:15px;}

nav#menu h4 a i:hover, nav#menu h4 a.toggle i {color:#ffffff;}

nav#menu {
    background: transparent none repeat scroll 0% 0%;
    position: relative;
    z-index: 6000;
}

nav#menu ul { display:none; margin:0px;}

nav#menu h4 {
    display: block;
	padding: 12px 0px 0px 5px;
	float:left;
	line-height:1em;
	margin-bottom:0px;
	font-size:1.5em;
}

nav#menu h4 a {display: block;}
nav#menu h4 a:hover, nav#menu h4 a.toggle {}
nav#menu h4 a.toggle {background-color:#000;}

    nav#menu ul li {
		float:left;
        margin:0px;
		padding:0 12px;
		list-style:none;
    }
		nav#menu ul li a {
		    font:600 0.8888em 'Source Sans Pro', sans-serif;
		    color:#333;
		    display:block;
		    padding:18px 0;
			text-transform:uppercase;
			outline-style:none;
			text-decoration:none;
			border-top:6px solid transparent; /** editable **/
		}



 /* ----- Dropdown ----- */
	nav#menu ul ul.sub-menu {
	    position: absolute;
    	visibility: hidden;
	    margin-left: 0px;
    	padding: 0px;
	    z-index: 100;
		background-color:#FFF;
		margin-top:1px;
	}
	    nav#menu ul li:hover ul {
    	    visibility:visible;
        	z-index:10000;
	    }
	    nav#menu ul li ul.sub-menu li {
            margin:0px;
            padding:0;
            float:none;
            background:none;
        }	

nav#menu ul li:hover a, 
nav#menu ul li a:hover,
nav#menu ul li.active a
 {
	color:#435aa8; 
	border-bottom:6px solid #435aa8; /** editable */
	}
nav#menu ul li:hover ul.sub-menu li a:hover {
	color:#435aa8; 	
	}

/*nav#menu ul li.active a	{color:#fff; background-color:#000 }*/

nav#menu ul li.active ul.active li a {}	

nav#menu ul li ul.sub-menu li a, 
nav#menu ul li:hover ul.sub-menu li a {

    margin: 0px;
	padding:0px;
    display: block;
    height: auto;
    text-align: left;
    color: #111111;
    border-top: none;
	border-bottom:1px solid #111;
	padding: 13px 40px 13px 0;
}
	
nav#menu ul li:hover ul li a {}

nav#menu ul.show {
    display: block;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}






@media (max-width: 1139px) {

nav#menu ul {
    position: absolute;
    top: 55px;
    background: #000000 none repeat scroll 0% 0%;
    z-index: 2000;
    width: 100%;
    display: none;
}
nav#menu ul li {clear:both; width:100%;}	

nav#menu ul ul.show {
    display: none;
    position: relative;
    width: 100%;
    visibility: visible;
    top: 0px;
    margin-left: 0px;
    padding: 0px;
    background: #252525 none repeat scroll 0% 0%;
    border-width: 0px 0px 0px;
    border-style: none none solid;
}
 
 }

@media only screen and (max-width: 958px) {}
@media only screen and (max-width: 800px) {}	 
	 

@media only screen and (max-width: 768px) {

	nav#menu ul {width:100%;}
}





@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
	   
}
 
@media screen and (min-width: 958px) {}

@media only screen and (min-width: 1000px) {}


@media only screen and (min-width: 1140px)  {

/* ===============
    Maximal Width
   =============== */

	/************** Nav *******************/
   nav#menu h4, nav#menu h5 { display:block; }
   nav#menu ul {
    	margin-top:0px;
		margin-left:0px;
	    display:block;
	}
	

   nav#menu h4 {display:none; }
   nav#menu h5 { display:block; }   

}


@media only screen and (min-width: 1300px) {

/* ===============
    Maximal Width
   =============== */

	nav#menu {
    	background:transparent;
	    position:relative;
    	z-index:6000;
		max-width:1260px;
	}
   	
}



