@charset "utf-8";
/* CSS Document */

/****** LINKS *************/

.exhibitors section a {color:#000}
.exhibitors section a:hover, .exhibitors li.ex-header div a:hover,
.exhibitors li.ex-header div a.current:hover,
.read-more-toggle:hover {color:#000; cursor:pointer; text-decoration:underline;}

.exhibitors li.ex-header div a {color:#0073de} 
.exhibitors li.ex-header div a.current {color:#000} 

     .loadmore {
          color: #FFF;
          width: 50%;
          height: 30px;
          outline: 0;
       }
      .loadbutton{
          padding-top:10px;
          text-align: center;
       }

	.formblock .red, .formblock .gray-btn {
    	padding: 0px;
	    display: inline-block;
    	width: 11%;
	    height: 34px;
	}
	
	.conference-master .loadmore,
	.conference-track .loadmore {width:auto; padding:0 50px;} {width:auto; padding:0 50px;}

/*************STYLES ****************/

p.event-date {font-size:1em; font-style:italic; color:#666;}
section h1.event-title  {font-size:1.5em; line-height:1.083em !important; font-weight:normal; margin:0;color:#000; border:none; margin-bottom:15px;}
section h1.speaker-name {font-size:1.5em; line-height:1.083em !important; font-weight:bold; margin:0;color:#000; border:none; margin-bottom:0px;}
.tab-row h4 {font-size:1.25em; color:#000; padding-left:5px;}

section p.black {color:#000}
h1.event-title a:hover {}


/**************Read More/Less ********************/

div.headerOptions {
	padding-left:0px;
	display:block; 
	float:none;
	color:#000; 
	margin:10px 0 20px 1%;
	border-bottom: 1px solid #CCC;	
	font: normal 1em/0.1em "Source Sans pro",sans-serif	
	}
	
	div.headerOptions span {
    	font-weight: normal;
	    padding: 0px 10px 0px 12px;
    	background: #e1e1e1 url(../images/arrowLess.png) no-repeat scroll 0px center;
		cursor:pointer;
	}	
	
	div.open-options span  {
		background: #e1e1e1 url(../images/arrowMore.png) no-repeat 0 center; 
	}

	.read-more-toggle {
		background: url(../images/readMore.png) no-repeat 0 center; 
		padding-left:15px; 
		color:#0073de; 
		margin:20px 0; 
		width:150px;
	}

	.read-less {
		background: url(../images/readLess.png) no-repeat 0 center; 
		padding-left:15px;
	}
	.read-more-content {display:none;}
	.contentOptions {display:none; }

#form-container .read-more-content ul { list-style-position:inside; padding-left:15px;}
#form-container .read-more-content ul li {list-style-type:disc;}
.hide {display:none;}

.containerOptions {width:100%;}
/*****content and Image *****/
.content-block {margin:5px 0 20px;}		  
.img-content {margin:0 auto; text-align:center; }
.img-content img {padding-bottom:8px;}

.content-block p.img-content:nth-of-type(1) {width:100%;}
.content-block p:nth-of-type(2) {padding-left:0px; width:100%;}


/********* FORM **************/

#form-container{
    width: 100%;
    }

	.formblock { padding:0px; display:block}
	 #form-container form {padding:10px; background-color:#e1e1e1;}
     #form-container form > * {
          float: left;
     }
     #form-container form input{
          height: 30px;
          padding: 5px;
		  margin-bottom:6px;
		  color:#888;
     }
	 
	.formblock select {
    	background: #fff url(../images/dd-arrow.png) no-repeat 90% 50%;
	    border: medium none;
	    border-radius: 0px;
    	padding-left: 5px;
		color:#000;
	}	 
	.formblock placeholder {text-align:center}	 
	 
	 #form-container form select[name="type"],
     #form-container form select[name="date"], 
     #form-container form select[name="location"],  
	 #form-container form select[name="track"],
     #form-container form select[name="speaker"]	 {
          width: 107%;
          height: 30px;
	  }
	  
	#form-container form .contentOptions li {
	    border: medium none;
	    width: 100%;
	    height: 30px;
	    margin: 6px 0;
	    display: block;
	    overflow: hidden;
	}	  
	  
	#form-container form input[name="title"] {width: 100%; border:0px;}
	
    #form-container form input[type="submit"]{
         width: 80px;
         border: 0;
         background-color: #0073de;
         color: #fff;
		 margin: 0 5px 0 0;
		 vertical-align:top;			
		 font-weight:bold;
    }
    #form-container form .reset{
         width: 80px;
         border: 0;
         color: #FFF;
         border-radius: 0px;
         border: none;
         background: #000;
         outline: 0;
         height: 30px;
		 margin-top:0px;		
		 font-weight:bold;			
     }		
                

	.formblock div.type {
	    display: block;
    	overflow: hidden;
	    border: none;
    	width: 100%;
	    height: 30px;
		vertical-align:top;
	    margin: 0px;	
		margin-left:0px;
	}				
	
	#form-container form select option{
        width: 100%;
        height: 30px;
    }		
				
       #form-container ul{
            width: 100%;
            margin: 0;
			padding: 0px;
        }
        
	    #form-container > ul > li.exhibitor {
            background-color: #fff;
        }			

        #form-container ul li.exhibitor {
            list-style: none;
            border-bottom: 1px solid #c1c1c1;	
			margin:20px 0;		
			padding-bottom:20px;
        }

        #form-container ul li.ex-header {
            list-style: none;
            border-bottom: 1px solid #000;	
			margin:10px 0;		
        }
		
        #form-container > ul > li.exhibitor > div:nth-of-type(1){
            padding: 0px;
        }			
				
        #form-container > ul > li.exhibitor > div > section {
            height: 100%;
            padding: 10px 10px 0px 0;
            display: inline-block;
            float: left;
			color:#6d6e71;
			width:88%;
			margin-bottom: 0 !important;
			margin-right:0 !important;
			margin-left:0 !important;
        }					
				
		#form-container > ul > li > div > section:nth-of-type(2) {width:10%;}				
		.educ-button {width:100%; margin:10px auto; text-align:center }				
				
		.add-planner {
		    background: transparent url("../images/add-icon.png") no-repeat scroll left center;
		    padding-left: 0px;
		    margin: 0px;
			color:#333;
		}

		/*** Header **/
        #form-container > ul > li.ex-header > div{
                    border: 0;
                    padding: 0px;
                    display: block;
                    float: left;
                }

                #form-container > ul > li > div:nth-of-type(1){
                        width: 100%;
                }
                #form-container > ul > li.ex-header > div {
                    width: 100%;
                }
                
                #form-container > ul > li > div > section:nth-of-type(1){
					max-width: 125px;
					width: 100%;
					display: block;
					text-align: right;
					float: right;
					padding:0px;
					margin-bottom:0px !important;

                }
                #form-container > ul > li > div > section:nth-of-type(2){
                    text-align: left;
					display: block;
					width: 100%;
					clear: both;
                }
				
				
				

                #form-container ul li.ex-header a span{
                    color: #0073de;
                    position: relative;
                    padding-left: 6px;
                   /* float: right;*/
                }
        		#form-container ul li.ex-header .print img{
                	opacity: 0.6;
                    position: absolute;
                    top: 2px;
                    left: -1px;
                }
                #form-container ul li.ex-header a:nth-of-type(2) img{
                    opacity: 1;
                    position: relative;
                }
                #form-container ul li.ex-header a:hover span{
                    /*color: #93191E;*/ text-decoration:underline
                }
                #form-container ul li.ex-header a:hover img{
                    opacity: 1;
                    
                }

/******************* Conference Speaker **************************/
	.speaker-image {float:right;}
	.speaker-image img {margin-left:20px; border:1px solid #000;}
				
				
/******************* Conference Day **************************/	

	.conference-day #tabs h5 {border-bottom:none;}
	.conference-day #tabs ul.addopps {border:none;}


	.conference-day #tabs ul.addopps li a, #tabs ul.addopps li a.active {width:100%; border-top:0px;}
	.conference-day #tabs ul.addopps:first-of-type	{background-color:#ebebeb; width:100%;}	
	.tab-row {padding:30px 10px 0px; background-color:#e1e1e1; }
	.conference-day #tabs ul.addopps {/*border-bottom:2px solid #fff;*/}	
    .conference-day #tabs ul.addopps li a, 
	.conference-day #tabs h5 a { color:#5e6b78; background:#ebebeb}
	.conference-day #tabs h5 a {color:#000;background: transparent url(../images/tab-dd-arrow.png) no-repeat scroll 98% center;}
	.conference-day #tabs ul.addopps li.ui-tabs-active a, 
	.conference-day #tabs ul.addopps li a:hover	{ background-color:#fff; color:#000;}
	
		
	.tabs-top-border {display:none;}	
	 

	/** Tabs icons **/
	ul.list-icons {margin:25px 0 25px;}
	ul.list-icons li {list-style:none; padding-left:50px;padding:2px 20px 2px 75px; line-height:1.375em; margin-bottom:8px; }	
    ul.list-icons li.design_and_merchandising-icon {background: url(../images/icon_sm_design_and_merchandising_black.png) no-repeat 20px 5px; }
ul.list-icons li.design_and_merchandising-icon {background: url(../images/icon_sm_managing_technologies_black.png) no-repeat 20px 5px; }
ul.list-icons li.managing_technologies-icon {background: url(../images/icon_sm_design_and_merchandising_black.png) no-repeat 20px 5px; }
ul.list-icons li.marketing_must_haves-icon {background: url(../images/icon_sm_marketing_must_haves_black.png) no-repeat 20px 5px; }
ul.list-icons li.marketing_new_frontiers-icon {background: url(../images/icon_sm_marketing_new_frontiers_black.png) no-repeat 20px 5px; }
ul.list-icons li.operations-icon {background: url(../images/icon_sm_operations_black.png) no-repeat 20px 5px; }
ul.list-icons li.retail_chains-icon {background: url(../images/icon_sm_retail_chains_black.png) no-repeat 20px 5px; }
ul.list-icons li.small_but_mighty-icon {background: url(../images/icon_sm_small_but_mighty_black.png) no-repeat 20px 5px; }
ul.list-icons li.commerce_and_marketing-icon {background: url(../images/icon_sm_social_commerce_and_marketing_black.png) no-repeat 20px 5px; }
ul.list-icons li.strategies_top_executives-icon {background: url(../images/icon_sm_strategies_top_executives_black.png) no-repeat 20px 5px; }
ul.list-icons li.video_in_eCommerce-icon {background: url(../images/icon_sm_video_in_eCommerce_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_amazon_and_me-icon {background: url(../images/icon_sm_ws_amazon_and_me_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_b2b-icon {background: url(../images/icon_sm_ws_b2b_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_e-commerce-icon {background: url(../images/icon_sm_ws_e-commerce_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_google_and_you-icon {background: url(../images/icon_sm_ws_google_and_you_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_mobile-icon {background: url(../images/icon_sm_ws_mobile_black.png) no-repeat 20px 5px; }
ul.list-icons li.ws_social-icon {background: url(../images/icon_sm_ws_social_black.png) no-repeat 20px 5px; }

    ul.list-icons li.bomb-icon {background: url(../images/bomb-icon.png) no-repeat 20px 5px; }
    ul.list-icons li.cake-icon {background: url(../images/cake-icon.png) no-repeat 20px 5px; }
    ul.list-icons li.soccer-icon {background: url(../images/soccer-icon.png) no-repeat 20px 5px; }
   #tabs ul.list-icons li.car-icon {background: url(../images/car-icon.png) no-repeat 20px 5px;   }		
   
	ul.list-icons li:hover {color:#0073DE;}	   
    ul.list-icons li.design_and_merchandising-icon:hover {background: #fff url(../images/icon_sm_design_and_merchandising_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.design_and_merchandising-icon:hover {background: #fff url(../images/icon_sm_managing_technologies_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.managing_technologies-icon:hover {background: #fff url(../images/icon_sm_design_and_merchandising_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.marketing_must_haves-icon:hover {background: #fff url(../images/icon_sm_marketing_must_haves_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.marketing_new_frontiers-icon:hover {background: #fff url(../images/icon_sm_marketing_new_frontiers_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.operations-icon:hover {background: #fff url(../images/icon_sm_operations_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.retail_chains-icon:hover {background: #fff url(../images/icon_sm_retail_chains_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.small_but_mighty-icon:hover {background: #fff url(../images/icon_sm_small_but_mighty_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.commerce_and_marketing-icon:hover {background: #fff url(../images/icon_sm_social_commerce_and_marketing_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.strategies_top_executives-icon:hover {background: #fff url(../images/icon_sm_strategies_top_executives_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.video_in_eCommerce-icon:hover {background: #fff url(../images/icon_sm_video_in_eCommerce_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_amazon_and_me-icon:hover {background: #fff url(../images/icon_sm_ws_amazon_and_me_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_b2b-icon:hover {background: #fff url(../images/icon_sm_ws_b2b_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_e-commerce-icon:hover {background: #fff url(../images/icon_sm_ws_e-commerce_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_google_and_you-icon:hover {background: #fff url(../images/icon_sm_ws_google_and_you_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_mobile-icon:hover {background: #fff url(../images/icon_sm_ws_mobile_blue.png) no-repeat 20px 5px; }
	ul.list-icons li.ws_social-icon:hover {background: #fff url(../images/icon_sm_ws_social_blue.png) no-repeat 20px 5px; }   
 
	ul.list-icons li.bomb-icon:hover {background: #fff url(../images/bomb-icon-hover.png) no-repeat 20px 5px; }
    ul.list-icons li.cake-icon:hover {background: #fff url(../images/cake-icon-hover.png) no-repeat 20px 5px; }
    ul.list-icons li.soccer-icon:hover {background: #fff url(../images/soccer-icon-hover.png) no-repeat 20px 5px; }
   #tabs ul.list-icons li.car-icon:hover {background: #fff url(../images/car-icon-hover.png) no-repeat 20px 5px; }		

   		section ul.list-icons li a {color:#000;}
section ul.list-icons li a:hover, section ul.list-icons li:hover a {color:#0073DE }


@media only screen and (min-width: 480px) {
	
 ul > li.ex-header div a.el-print{ display:inline-block; width:60px; margin-right:18px;}



 }


@media only screen and (min-width: 768px) {
	

	
	#form-container form input[name="title"] {
	   	 width: 100%; display:block; margin-bottom:6px;	
	 }

	.exhibitors li.ex-header div a.el-print {float:left; margin-left:0px !important;}

/*	.formblock div.date  {width:49.5%; margin:0px;}
	.formblock div.event {width:49.5%; margin-left:1%}*/

	
	.educ-button {display:block; margin-top:10px; width:100%;}
	
	#form-container form input[type="submit"] { margin: 0px;  display:inline-block; padding:6px 3%; width:auto;}
	#form-container form .reset {display:inline-block; padding:3px 3%; width:auto;}
	
	.content-block p {display:inline-block; vertical-align:top}	  	
	.content-block p.img-content:nth-of-type(1) {max-width:140px; width:100%;}
	 .content-block p:nth-of-type(2) {padding-left:15px; width:65%;}
	 
/***** Speaker ************/
.speaker-image	{float:left}  
div .speaker-desc {padding-left:160px;}
.speaker-image img {margin-left:0px;}
	 
}

@media screen and (min-width: 958px) {
	
	#form-container form input[name="title"] {width: 72%; border:0px; margin-right:1%}	
	#form-container form select[name="type"] {width:112%;}	
	
	.formblock select	{background-position: 85% 50%;}
	
	.formblock div.type {
    	width: 28%;
	    display: inline-block;
    	margin-left: 0px;
	}
	.educ-button {display:inline-block; width:26%; margin-left:1%; margin-top:0px;}	
	#form-container form input[type="submit"]	{width:51%}
	#form-container form .reset {width:46%;}

	#form-container form .contentOptions li	{width:49%; display:inline-block; vertical-align:top; margin:3px 0px;}
	#form-container form .contentOptions li:nth-of-type(2n) {margin-left:1%;}	

	#form-container ul.exhibitors li > div section:nth-of-type(1) {
    	max-width: 126px;
	    vertical-align: top;
    	text-align: right;
	    width: 100%;
    	float: right;
	    margin-top: 10px;
	}

	#form-container ul.exhibitors > li > div > section:nth-of-type(2) {
    	width: 75%;
	    vertical-align: top;
    	clear: none;
	}

	
	.content-block p:nth-of-type(2) {width:76%;}	
	
	/****** Tabs************/
	.conference-day #tabs ul.addopps:nth-of-type(1) li {margin-right:5px;}	
	.conference-day #tabs ul.addopps li a {padding:6px 15px}
	
	.conference-day #tabs ul.addopps:first-of-type	{background-color:#ebebeb; width:100%;}	
	.tab-row {padding:30px 10px 0px; background-color:#e1e1e1; }
	.conference-day #tabs ul.addopps {border-bottom:2px solid #fff; border-top:2px solid #fff}	
    .conference-day #tabs ul.addopps li a, .conference-day #tabs h5 a {background-color:#ebebeb; color:#5e6b78}
	.conference-day #tabs ul.addopps li.ui-tabs-active a, .conference-day #tabs ul.addopps li a:hover	{border-top:none; background-color:#fff; color:#000;}
	.tabs-top-border {display:block;border:none;border-bottom:2px solid #000;margin-bottom:0px;}	
	
}

@media screen and (min-width: 1140px) {
	.conference-day #tabs img {
    	border: medium none;
	    float: left;
    	max-width: 35px;
	    margin: 0px;
    	padding-bottom: 0px;
	    width: auto;
	}
}

@media screen and (min-width: 1140px) {
	
	
div.headerOptions {width: 100%; margin:10px 0;}	


#form-container form select[name="type"] {width:107%; margin-left:0 ; height:30px;}
#form-container form input[name="title"] {width: 77.3%; border:0px; margin-right:1%}

.formblock select	{background-position: 90% 50%;}

#form-container .formblock select[name="type"] {}
#form-container .formblock select[name="date"],
#form-container .formblock select[name="location"],
#form-container .formblock select[name="track"],
#form-container .formblock select[name="speaker"] {width:120%; margin-left: 1%; height:30px;}	
	
	.formblock div.type {width: 31%;	}
	.educ-button {width:19.7%;}	
	

#form-container > ul > li > div > section {width:75%}
#form-container > ul > li > div > section:nth-of-type(2) {width:24%; }	
	.add-planner span {display:inline-block; vertical-align:-1px; margin-left:4px;}	
	.add-planner span:hover {text-decoration:underline;}	
	.add-planner img {display:inline-block; vertical-align:middle;} 	
	
.content-block p:nth-of-type(2) {width:80%;}	
	
	}
	
	
.cf2:before,
.cf2:after {
    content: " ";
    display: table;
}

.cf2:after {
    clear: both;
}

.cf2 {
    *zoom: 1;
}	